.sobre{
    font-family: Arial, Helvetica, sans-serif;
    max-width: 100%;
    min-height: 100vh;
    background-color: #0d202c;
    margin: 0 auto;
    padding: 10px;
    color: white;
    text-align: center;
}

.sobre h1{
    font-size: 40px;
}

.sobre p{
    font-size: 20px;
    color: rgb(238, 238, 238);
}

.sobre strong{
    color: white;
}