/* Reset básico */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    color: #333;
  }
  
 header {
  background-color: #333;
  color: yellow;
  padding: 1rem;
  text-align: center;
  position: relative; /* necessário para posicionar o botão dentro do header */
}

header h1 {
  margin: 0;
  font-size: 2rem;
}

.login-button {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 9px;
  text-decoration: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  color: white;
  background-color:  #333;
  transition: background-color 0.2s ease;
}

.login-button:hover {
  background-color: #eee;
}
  
  nav {
    background-color: #333;
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding: 0.5rem 0;
  }
  
  nav a {
    color: white;
    text-decoration: none;
    padding: 0.5rem;
    transition: background-color 0.3s;
  }
  
  nav a:hover {
    background-color: #666;
    border-radius: 4px;
  }
  
  footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem;
    position: relative;
    bottom: 0;
    width: 100%;
  }
  